/*
 * Try local font first - fails when app is in working path containing spaces due to JavaFX bug.
 * Then try online copy if the local copy fails - this one requires internet connectivity.
 * Note: JavaFX's CSS does not support combining the two src's into one @font-face.
 */
@font-face {
    src: url(/icons/ionicons.ttf);
}
@font-face {
    src: url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.0/fonts/ionicons.ttf);
}

.root {
    -fx-background-color: #282828;
}


.SingleCellContents_attempt{
    -fx-background-color: #282828;
}

.SingleCellContents_version{

}

#comboBox {
    -fx-background-color: #383838;
    -fx-prompt-text-fill: #585858;
    -jfx-focus-color: #ba8baf;
}


.invalid-name{
    -fx-border-color: transparent transparent #ab4642 transparent;
}

.cell {
    -fx-text-fill: #e8e8e8;
}

.jfx-chip > HBox {
    -fx-background-color: #383838;
}

.jfx-chip > HBox > .button {
    -fx-background-color: #282828;
}

.jfx-chip .label  {
    -fx-text-fill: #e8e8e8;
}

.titled-pane{
    -fx-background-color: #282828;
    -fx-text-fill: #e8e8e8;
}

.titled-pane > .title{
    -fx-background-color: #282828;
    -fx-text-fill: #e8e8e8;
}
.titled-pane *.content{
    -fx-border-color: #282828;
}
.titled-pane > .title > .arrow-button {
    -fx-padding: 0 0.583em 0 4.7em;
}

#topLabel {
    -fx-text-fill: #e8e8e8;
    -fx-font-style: italic;
}

#bottomLabel {
    -fx-font-family: "Ionicons";
    -fx-text-fill: #e8e8e8;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

#tagInput .text-area {
    -fx-background-color: #282828;
    -fx-text-fill: #ba8baf;
    -fx-font-weight: bold;
    -fx-prompt-text-fill: #585858;
    -jfx-focus-color: #ba8baf;
    -fx-highlight-fill: #ba8baf;
}

#scrollPane {
    -fx-background-color: #282828;
}

.scroll-pane > .viewport {

    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #ab4642;
}

.button:hover {
    -fx-cursor: hand;
}

.button:show-mnemonics > .mnemonic-underline{
    -fx-stroke: #e8e8e8;
}

#Record, #shuffleButton, #previousButton, #playButton, #nextButton, #volumeLabel, .delete-btn {
    -fx-font-family: "Ionicons";
    -fx-font-size: 20px;
    -fx-text-fill: #ab4642;
}

.list-cell:selected .delete-btn{
    -fx-text-fill: #e8e8e8;
}
#Record, #shuffleButton, #previousButton, #playButton, #nextButton,
#compareButton, #practiceButton, #clearButton, #databaseButton, #appendButton, #replaceButton, #uploadListButton {
    -fx-background-color: #383838;
}

#compareButton, #practiceButton, #clearButton, #databaseButton, #appendButton, #replaceButton,
#uploadListButton {
    -fx-text-fill: #e8e8e8;
}

.list-view {
    -fx-background-color: #181818;
}

.list-view .scroll-bar {
    -fx-background-color: #282828;
}

.list-view .scroll-bar .thumb {
    -fx-background-color: #ab4642;
}

.list-cell:selected, .list-cell:selected:hover, .list-cell:hover:selected {
    -fx-background-color: #ab4642;
}

.list-cell .jfx-rippler {
    -jfx-rippler-fill: #f7ca88;
}

.list-cell {
    -fx-background-color: #383838;
    -fx-opacity: 0.8;
}

.list-cell > * {
    -fx-opacity: 1;
}

.list-cell .label {
    -fx-text-fill: #e8e8e8;
}

.list-cell:filled:hover {
    -fx-opacity: 1;
}

#selectionTray {
    -fx-background-color: #181818;
}

#volumeSlider > .colored-track {
    -fx-background-color: #ab4642;
}

#volumeSlider > .track {
    -fx-border-color: #181818;
}

#volumeSlider > .thumb {
    -fx-background-color: #dc9656;
}

#volumeSlider > .animated-thumb {
    -fx-background-color: #dc9656;
}

#volumeSlider .slider-value {
    -fx-fill: #282828;
    -fx-stroke: #282828;
}

#playbackSlider > .colored-track {
    -fx-background-color: #86c1b9;
}

#playbackSlider > .track {
    -fx-background-color: #282828;
}

#playbackSlider > .thumb {
    -fx-background-color: #dc9656;
}

#playbackSlider > .animated-thumb {
    -fx-background-color: #dc9656;
}

#playbackSlider .slider-value {
    -fx-fill: #282828;
    -fx-stroke: #282828;
}

.quality-star {
    -fx-font-family: "Ionicons";
}
